* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Nunito Sans", sans-serif;
  color: #656774;
  font-size: 15px;
  font-weight: 500;
  background-color: #f5f9fe;
}

.modal .head-form {
  background: #7ed957;
  color: #121212;
}
.modal .head-form h2 {
  text-align: center;
}
.modal .modal-body .input-group {
  display: flex;
  margin-top: 25px;
}

header {
  background-color: #7ed957;
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 90px;
  display: flex;
  align-items: center;
}
header img {
  width: 80px;
  height: 80px;
}
header .nav-bar {
  padding: 0.5rem 1rem;
}
header .navbar-collapse a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
header .navbar-collapse a:hover {
  color: #e62b4a;
}
header .nav-item {
  position: relative;
  margin: 0 20px;
}
header .nav-item .nav-link {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.5s;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
header .nav-item::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background: #e62b4a;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: all 0.3s;
}
header .nav-item:hover::before, header .nav-item.active::before {
  width: 100%;
}
header .nav-item:hover .nav-link, header .nav-item.active .nav-link {
  color: #e62b4a;
}

.carouselFruits {
  padding-top: 90px;
}
.carouselFruits img {
  height: 95vh;
}

.products {
  padding: 80px 0;
}
.products .title {
  text-align: center;
  color: #2a73dd;
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.products .list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.products .item {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 10px;
  padding: 30px;
}
.products .item img {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
}
.products .item .desc {
  display: flex;
  justify-content: space-between;
}
.products .item .desc h3 {
  color: #2a73dd;
  font-size: 1.8rem;
  font-weight: 600;
}
.products .item .desc .price p {
  margin: 10px 20px;
  color: #e75404;
  font-size: 1.8rem;
  font-weight: 700;
}
.products .item .desc .price button.buy {
  padding: 16px 30px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  background-image: linear-gradient(to right, #7ed957 0, #0097b2 51%, #7ed957 100%);
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  color: #fff;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  line-height: 1.2;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 2px 2px 4px #e2ebfc, -2px -2px 4px #fff;
  border-color: #f5f9fe;
  margin-top: 15px;
}
.products .item .desc .price button.buy:hover {
  color: purple;
  background-position: right center;
}
.products .item .desc .price button.buy:hover {
  box-shadow: inset 1px 1px 3px #e2ebfc, inset -2px -2px 5px #fff;
}
.products .item .desc i.fa.fa-star {
  color: #f9d412;
}

footer {
  background: #7ed957;
  color: #fff;
  font-weight: 600;
}
footer .footer__content {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
footer .footer__content a {
  width: 54px;
  height: 54px;
  display: inline-block;
  border-radius: 50%;
  line-height: 54px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  margin-left: 5px;
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
}
footer .footer__content a:hover {
  background-color: #e62b4a;
}

/* BACK TO TOP */
.backToTop {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #e62b4a;
  font-size: 32px;
  color: white;
  text-align: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0;
}

.cd-top--is-visible {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */